*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Livvic', sans-serif;
    background-color: #100645;
    display: flex;
    justify-content: center;

}

.container{
    display: flex;
    flex-direction: column;
    width: 1200px;
    padding: 0 10px;
    
}


header{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 30px 10px 0 10px;
    background-color: #2E28EC;
    background-image: url("./images/header-bg.png");
    background-position: bottom -250px center;
    background-size: cover;
    background-repeat: no-repeat; 
    border-radius: 0 0 25px 25px;
}

header h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.reset-btn{
    background-color: #fff;
    color: #100645;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 20px auto;
    transition: all 0.1s ease-in-out;
}
.reset-btn:hover{
    background-color: #e7e7e7;
}
.reset-btn:active{
    transform: scale(0.95);
}

.reset-btn:hover i{
    animation: spin 0.3s linear;
}

@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(8, 1fr); 
    gap: 15px;
    width: 100%; 
    max-width: 1200px;
    margin-bottom: 100px;
}

.day-box {
    background-color: #fff;
    color: #100645;
    aspect-ratio: 1 / 1; 
    border-radius: 5px;
    padding-top: 5px;
    cursor: pointer;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.2s ease, background-color 0.2s ease;
    background-color: #2D6653;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
}

.last-day {
    grid-column: 1 / -1; 
    cursor: pointer;
    background-color: #D3D6F5;
    color: #2D6653;
    padding-top: 5px;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: all 0.2s ease, background-color 0.2s ease;
}

.last-day:hover {
    background-color: #abadc4;
    color: #2D6653;
}

.last-day:active {
    transform: scale(0.95);
}


.day-box:hover {
    background-color: #255142;
}

.day-box:active {
    transform: scale(0.95);
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

@media (max-width: 1200px) { 
    .calendar {
        grid-template-columns: repeat(6, 1fr); 
    }
    .last-day {
        aspect-ratio: 6 / 1; 
    }
}

@media (max-width: 992px) {
    .calendar {
        grid-template-columns: repeat(4, 1fr); 
    }
    .last-day {
        aspect-ratio: 4 / 1; 
    }
}


@media (max-width: 768px) {
    .calendar {
        grid-template-columns: repeat(2, 1fr); 
    }
    .last-day {
        aspect-ratio: 2 / 1; 
    }
}

@media (max-width: 576px) {
    .calendar {
        grid-template-columns: repeat(1, 1fr); 
    }
    .last-day {
        aspect-ratio: 1 / 1; 
    }
}